/*
#1d1d1d
#08fdd8
#64ffda
*/

/* Global styles
------------------------------------*/

html{
    box-sizing: border-box;
    font-size: 13px;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
background-color: #1d1d1d;
color: #fff;
padding: 0;
font-family: 'Montserrat', sans-serif;
line-height: 1.5;
}

h1,h2, h4, a{
     font-family: 'Caveat', cursive;
}

h1{
    font-size: 4rem;
    margin: 0;
    line-height: 1;
    padding: 20px 0;
    
}

h2{
    font-size: 2.5rem;
    padding-top: 20px;
    margin: 0;
    color: #08fdd8;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: 25px;
}

img {
    width: 200px;

}
  
a{
    text-decoration: none;
    color: #64ffda;
    font-weight: 600;
    font-size: 2.5rem;
}


ol,ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    height: 70px;
}






/* Navigation bar styles
------------------------------------*/

header{
    display: flex;
    justify-content: space-between;
    color: #64ffda;
    height: 70px;
}


.header-list{
    display: flex;
    justify-content: space-between;

}

.header-list li{
    margin: 0px 10px;
    padding: 5px;
    height: 40px;
}

.header-list a{
    font-size: 1.5rem;
}

.header-list li:hover{
    background-color: rgba(100, 255, 218,0.7);

}



/* content styles
------------------------------------*/

.content-wrap, .footer,header{
    max-width: 1000px;
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    
}


.view{
    padding: 8px;
    border-radius: 4px;
    background-color: #373737;
    border: 2px;
    margin: 4px;
}

.view a{
    font-size: 1.2rem;
}

.view:hover{
    background-color: rgba(100, 255, 218,0.7);
}


.content-wrap{
    margin-top: 30px;

}




/* header styles
------------------------------------*/


.header .content-wrap{
    text-align: center;
    border-bottom: 0;
    
}

/* educatoin styles
------------------------------------*/

.education .content-wrap{
border-bottom: 1px dashed #64ffda;
}



/* certificates styles
------------------------------------*/
.course-item{
    border-bottom: 1px dashed #64ffda;
    padding: 20PX 0;
    padding-right: 10px;
}





/*          skills styles
------------------------------------*/

.chart footer {
    background-color: #373737;
    height: 2px;
}

.chart {
    margin-bottom: 2rem;
}


element.style {
    width: 95%;
}

footer div {
    width: 0;
    height: 100%;
    background-color: #08fdd8;
    -webkit-transition: width 1.3s ease-out;
    transition: width 1.3s ease-out;
    -webkit-box-direction: normal;
}


/* Projects styles
------------------------------------*/
.project-item{
    border-bottom: 1px dashed #08fdd8;
    padding: 20px 0;
}

.links{
    padding: 10px 0;
    margin-bottom: 20px;
}
/* footer styles
------------------------------------*/

.footer img{
    width: 50px;
}

.contact{
    display: flex;
    justify-content: center;
}
.contact li{
padding: 20px;
}


/* responsive styles
------------------------------------*/


@media screen and (min-width: 850px) {
.certificate{
display: grid;
grid-template-columns: repeat(2,1fr);

}

.course-item{
    width: 400px;
}
 
.project-item{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 0px;
    gap: 20px;
    
}

.project-item .text {
    width: 600px;
}

}

@media screen and (min-width:600px) {

    html{
        font-size: 20px;
    }
    
    .header-list li{
        margin: 0px 10px;
        padding: 10;
        padding-left: 15px;
        height: 60px;
    }
    #logo{
        width: 90px;
        height: 70px;
    }
}


